@using ASP.NetBMI.Models
@model Bmi
@{
    ViewData["Title"] = "Home Page";
    double value = ViewBag.Value;

    var data = new[]
    {
        new {Text = "starkes Untergewicht", Max=16.0},
        new {Text = "mäßiges Untergewicht", Max=17.0},
        new {Text = "leichtes Untergewicht", Max=18.5},
        new {Text = "Normalgewicht", Max=25.0},
        new {Text = "Präadipositas", Max=30.0},
        new {Text = "Adipositas Grad I", Max=35.0},
        new {Text = "Adipositas Grad II", Max=40.0},
        new {Text = "Adipositas Grad III", Max=999.0},
    };
}
 

<div class="row">
    <p><strong>Your BMI: @value</strong></p>

    <table class="table">
        <thead>
        <tr>
            <th>Description</th>
            <th>From</th>
            <th>To</th>
        </tr>
        </thead>

        @{
            double old = 0;
            foreach (var entry in data)
            {
                <tr class="@(value > old && value <= entry.Max ? "warning" : "")">
                    <td>@entry.Text</td>
                    <td>@old</td>
                    <td>@entry.Max</td>
                </tr>
                old = entry.Max;
            }
        }
    </table>
</div>

@section Scripts{
    <script src="lib/jquery-ajax-unobtrusive/jquery.unobtrusive-ajax.min.js"></script>
}